.Rproj.user
.Rhistory
.RData
.Ruserdata
boleteRa.Rproj
boleteRa_crosstalk_00.html
boleteRa_flexdashboard_00.html
mymap1.html
mymap2.html
mymap1.png
mymap2.png
boleteRa.nb.html
tmp/*
lib/*
geonames/*
OpenWeatherMap/*
html/*
comarques/*
fotos_orig/*
precipitacio/*
